body
{
    font-family: 'Cormorant', serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

h1.page-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}