:root {
    --text-color-main:black;
    --text-color-accent:black;
    --text-color-light:rgb(210,210,210);
    --text-color-gray:rgb(184,184,184);
    --color-light:white;
    --color-dark:black;
    --button-height:36px;
    --button-width:36px;
    --site-gap: 20vh;
    --site-gap-scroll: 15vh;
    --site-banner-height: 5vh;
    --margin-large: 128px;
    --margin-medium: 64px;
    --margin-xmedium: 48px;
    --margin-small: 32px;
    --margin-xsmall: 16px;
    --margin-xxsmall: 8px;
}

body
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Site Name DUGYU */
.sitename_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--site-gap);
  width: 100%;
  top: 0px;
  background-color: var(--color-light);
  position: fixed;
  z-index: 100;
  visibility: visible;
  transition: height 0.01s ease, visibility 0.01s ease;
  cursor: pointer;
}

.sitename_container.onscroll {
  height:  var(--site-gap-scroll);
}

.sitename{
  -webkit-transform: translateY(4vh) translateX(0) rotate(0deg);
  transform: translateY(4vh) translateX(0) rotate(0deg);
  font-weight: 700;
  height:5vh;
  letter-spacing: 0.03em;
  opacity: 1;
  transition: all .3s ease; 
  visibility: visible;
}

.sitename.onscroll {
  -webkit-transform: translateY(-2vh) translateX(0) rotate(0deg);
  transform: translateY(-2vh) translateX(0) rotate(0deg);
  opacity: 0;
  visibility: hidden;
}

.sitename_char{
  opacity: 0;
  transition: all .3s ease;
  height: var(--site-banner-height);
  visibility: hidden;
}

.sitename_char.onscroll{
  -webkit-transform: translateY(-4vh) translateX(0) rotate(0deg);
  transform: translateY(-4vh) translateX(0) rotate(0deg);
  opacity: 1;
  visibility: visible;

}

/* Siteframe */
.container{
  position: relative;
  top: var(--site-gap);
}

.catalog{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single_project{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Single Project Title Block*/
.project-titleblock h3{
  font-family: 'Lato';
  font-weight: 300;
  font-size: x-large;
  letter-spacing: 0.05em;
  color: var(--text-color-main);
}
.project-titleblock h5{
  font-family: 'Lato';
  font-weight: 300;
  font-size: small;
  color: var(--text-color-main);
}
.project-titleblock{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:  var(--margin-medium);
  margin-bottom: var(--margin-medium);
}

/*Single Project Abstract Block*/
.project-abstractblock{
  width: 40%;
  position: relative;
  left:30%;
  font-family: 'Lato';
  font-weight: 300;
  font-size: medium;
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}

.project-abstractblock p{
  text-align: center;
}

/*Single Project Credits and Links Block*/
.project-creditsblock{
  font-family: 'Lato';
  font-weight: 300;
  font-size: medium;
  margin-bottom: var(--margin-medium);
}

.project-creditsblock a{
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 3px;  
  transition:all 0.3s ease;
  text-decoration: underline;
}
.project-creditsblock a:hover{
  color: var(--text-color-light);  
}


/*Radio Switch Button Shared*/
label{
  position: relative; 
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;  
  width: 100px;
  padding: 13px 0;
  margin: 0;
  transition: all 0.3s ease;  
}
label:hover{
 color: var(--text-color-gray);
}
/*Single Project Explanation Block*/
/*Switch Button*/
.expswitch-container{
  display: inline-block;
  margin: var(--margin-small) auto var(--margin-small);
  font-size: 0;
  border: 1px solid var(--color-dark);
}

.expswitch-story+label:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.expswitch-story:checked + label:before{
  left: 0;
}
.third-selected+label:before{
  left: 200%;
}

.expswitch-story:checked + label,
.expswitch-process:checked + label,
.expswitch-result:checked + label{
  color: var(--color-light);
}
/*Explanation Text*/
.exptext {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 80%;
  left: 10%;
  text-align: start;
  transition: all 0.3s ease-in-out;
}

/*Single Project Details Block*/
/*Detail Title Expand/Collapse Button*/
.project-detailblock{
  margin-top: var(--margin-medium);
}
.project-detailblock label{
  width: 180px;
  border: 1px solid var(--color-dark);
}

.project-detailblock label:hover{
  background-color: var(--color-dark);
  color: var(--color-light);
}
.project-detailblock input{
  display: none;
  visibility: hidden;
}

.project-detailblock label::before{
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
#project-detailexpand {
  margin-top: 0px;
  max-height:  0px;
  overflow: hidden;
  transition: all 0.5s;
}

#project-detailcollapse:checked ~ #project-detailexpand{
  margin-top: var(--margin-small);
  max-height: 300px;
  overflow: auto;
}
#project-detailcollapse:checked ~ label::before {
  content: "-";
}

.project-detailblock section{
  width: 70%;
  position: relative;
  left:15%;
  font-family: 'Lato';
  font-weight: 300;
  font-size: medium;
  margin-bottom:  var(--margin-small);
}
.project-detailblock p{
  margin-top: var(--margin-small);
  text-align: start;
}

/*Single Project Video Block*/
/*Switch Button*/
.videoswitch-container{
  display: inline-block;
  margin: var(--margin-small) auto var(--margin-small);
  font-size: 0;
  border: 1px solid var(--color-dark);
}

#videoswitch-shortvideo + label:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

#videoswitch-shortvideo:checked + label:before{
  left: 0;
}

#videoswitch-shortvideo:checked + label,
#videoswitch-longvideo:checked + label{
  color: var(--color-light);
}

.project-videoblock{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  padding-top: 0;
}

.project-contentvideo{
  display: block;
  position: relative;
  top:0;
  left: 0;
  width: 100%;
}

.iframe-container
{
  position:relative;
  padding-top:56.25%;
}
.iframe-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
/*Single Project Image*/
.project-imageblock{
  width: 100%;
	padding: 0px;
	margin-bottom: var(--margin-small);
}

img.brief-cover{
  width: 100%;
  position: relative;
	padding: 0px;
}

/*Single Project Slides*/
.singleproject-slides{
  width: 100%;
  position: relative;
  margin: 0;
}

.singleproject-slide{
  position: absolute;
	left: 0;
  right: 0;
  top: 0;
  bottom: 0;
	width: 100%;
	height: auto;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* Project Catalog */
.project-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--margin-xmedium);
  margin-bottom: var(--margin-medium);
  transition: order 0.8s;
}

.project-inlinedetail{
 font-family: 'Lato', sans-serif;
 font-weight: 300;
 color: var(--text-color-gray);
 font-size: small;
 margin-top: var(--margin-xxsmall);
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
}
.project-title{
  display: inline-block;
  margin: var(--margin-xmedium) auto var(--margin-medium);
  font-size: 0;
  border: 1px solid var(--color-dark);
}
img.project-cover{
  width: 100%;
}

video.project-cover{
  width:100%;
}

.project-title a{
  position: relative; 
  cursor: pointer;
  font-size: 12px;
  color:var(--text-color-dark);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 200px;
  padding: 13px 5px;
  text-align: center;
  margin: 0;
}

.project-title a:hover {
  content: "";
  background-color: rgb(0, 0, 0);
  color:var(--color-light);
  transition: all 0.3s ease;
}


a{
  text-decoration: none;
  color:var( --text-color-main);
  transition: all 0.3s ease;
}
a:hover{
  text-decoration: none;
  color:var(--text-color-accent);
}

.project-description p{
  position: relative; 
  left:15%;
  width: 70%;
  font-family: 'Lato', sans-serif;
  color: var(--text-color-gray);
  font-weight: 300;
}

/*   Animated Link */
.animlink a{
  position: relative;
}


.animlink a:hover:after, .animlink a:focus:after, .animlink a:active:after {
  width: 100%;
}

.animlink a:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background:var(--color-white);
  transition: .3s;
}

/* Footer */
#footer{
  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_links{
  display: flex;
  align-items: center;
  font-size: small;
}

.footer_logo img{
  display: block;
  width:32px;
  height: auto;
  margin-bottom: 12px;
}

.subfooter_sociallink a{
  padding: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--text-color-main);
  transition: all 0.3s ease;
}

.subfooter_sociallink a:hover{
  text-decoration: none;
  color:var(--text-color-accent);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Mute Button */
.mute_button {
  height: var(--button-height);
  width: var(--button-width);
  bottom: 64px;
  right: 16px;
  position: fixed;
  cursor: pointer;
}
.mute_button span {
  display: block;
  width: 8px;
  height: 8px;
  background: var(--color-dark);
  margin: 11px 0 0 2px;
}
.mute_button span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent var(--color-dark) transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
.mute_button span:before {
  transform: rotate(45deg);
  border-radius: 0 80px 0 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-style: double;
  border-color: var(--color-dark);
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
.mute_button:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.mute_button.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}


/* Menu Button */
.menu_button {
    position: fixed;
    bottom: 24px;
    right: 16px;
    height: var(--button-height);
    width: var(--button-width);
    cursor: pointer;
    z-index: 300;
    transition: opacity .25s ease;
}

.menu_button:hover {
    opacity: .7;
}

.menu_button.active .top {
    -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
    transform: translateY(12px) translateX(0) rotate(45deg);
    background: var(--color-light);
}
.menu_button.active .middle {
    opacity: 0;
    background: var(--color-light);
}
.menu_button.active .bottom {
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    transform: translateY(-12px) translateX(0) rotate(-45deg);
    background: var(--color-light);
}

.menu_button span {
display: block;
border-radius: 9px;
background:var(--text-color-accent);
border: none;
height: 6px;
width: 36px;
position: absolute;
top: 0px;
left: 0;
transition: all .3s ease;
cursor: pointer;
}

.menu_button span:nth-of-type(2) {
top: 11px;
}
.menu_button span:nth-of-type(3) {
top: 23px;
}
  


/* Menu overlay_container */

.overlay_container {
    position: fixed;
    background: var(--color-dark);
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    max-width: 600px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    z-index: 200;
  }
.overlay_container.open {
    opacity: .92;
    visibility: visible;
    width: 70%;
    max-width: 600px;
}
.overlay_container.open li {
    -webkit-animation: fadeInRight .2s ease forwards;
            animation: fadeInRight .2s ease forwards;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
}
.overlay_container.open li:nth-of-type(n+1) {
    -webkit-animation-delay: calc(.05 * n + .2)s;
            animation-delay: calc(.05 * n + .2)s;
}

.overlay_container nav {
  position: relative;
  height: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.overlay_container ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.overlay_container ul li {
  display: block;
  position: relative;
  opacity: 0;
  font-size: smaller;
}

.overlay_container ul li a {
  display: block;
  position: relative;
  color: var(--color-light);
  text-decoration: none;
  overflow: hidden;
}

.overlay_container ul li a:hover:after, .overlay_container ul li a:focus:after, .overlay_container ul li a:active:after {
  width: 100%;
}

.overlay_container ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background:var(--color-light);
  transition: .3s;
}



/* Define Animation Helpers */  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 10%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 10%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  