body
{
    font-family: 'Cormorant', serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

h1.page-title{
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
}

p.nav-section
{
    font-family: 'Overpass', sans-serif;
    text-align: center;
}